*, *::before, ::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*******  UNIVERSAL  ********/
html {
    height: 100%; /* makes sure our HTML takes up 100% of the browser window */
    font-size: 100%;
}

body {
    font-family: 'Muli';   /* sets our font to the "Muli" typeface */
    color: black;               /* sets the text color to white */
    min-height: 100%;           /*says the height of the body must be, at minimum, 100% of the window */
}

body.landing {
    background-color: white; /* sets the background color to an RGB value (see below) */
    /*background-image: url(../assets/images/shears_2.png);*/
}

/*******  NAVBAR  ********/
.navbar {
    position: relative;
    padding: 1rem;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #000, #2f9fa3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #000, #2f9fa3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #000, #2f9fa3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #000, #2f9fa3); /* Standard syntax */
}

.navbar .logo {
    position: relative;
    left: 1rem;
    cursor: pointer; /*produces the finer-pointer icon when you hover over the logo*/
}

.navbar .links-container {
    display: table;
    position: relative;
    float: right;
    height: 75px;
    text-decoration: none;
}

.links-container .navbar-link {
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

.links-container .navbar-link:hover {
    color: rgb(47, 159, 163);
}

.links-container .navbar-link:active {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, 0);
}


.ion-calendar {
    padding-right: 1rem;
}

/*******  HERO  ********/
.hero-content {
    position: relative;
    width: 100%;
    min-height: 300px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/images/Braid.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-quote {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.call-to-action-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -200px;
    max-height: 20%;
    max-width: 75%;
    min-height: 50px;
    min-width: 200px;
    margin: auto;
    width: 400px;
    font-size: 2rem;
    font-weight: 700;
    background-color: rgb(47, 159, 163);
    padding: 1% 2% 1% 2%;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    
}

.ion-calendar {
    color: white;
}

.cont {
    background-image: url(../assets/images/black_texture.png);
}

.clearfix {
    background-color: rgb(0,0,0,0.2);
}

.cta-copy {
    color: white;
}

.call-to-action a:visited, 
.call-to-action a:link, 
.call-to-action a:hover {
    color: white;
    text-decoration: none;
}

/*******  PART 1  ********/

.JulesBaker {
    padding: 0% 7% 0% 7%;
}

.about {
    padding: 0% 7% 0% 7%;
}

.julia {
    height: 100%;
}

.map {
    position: relative;
    margin: auto;
    width: 85%;
}

iframe {
    width: 100%;
    padding-top: 7%;
    height: 250px; 
}


/*******  MOBILE ONLY ELEMENTS START  ********/



.background-uber {
    position: relative;
    width: 85%;
    background: #0d0d1e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#282836, #0d0d1e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#282836, #0d0d1e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#282836, #0d0d1e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#282836, #0d0d1e); /* Standard syntax */
    height: auto;
    margin: auto;
}

.uber-button {
    position: relative;
    background-image: url(../assets/images/uber-button300w.png);
    background-repeat: no-repeat;
    cursor: pointer;
    width: 85%;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
}


.request {
    position: absolute;
    top: 15px;
    right: 0;
    text-transform: uppercase;
    font-family: FF Clan Pro Medium;
    letter-spacing: 0.1rem;
}

.request a:visited, 
.request a:link, 
.request a:hover {
    color: #1fbad6;
    text-decoration: none;
}
/*******  MOBILE ONLY ELEMENTS END  ********/

/*******  PART 2  ********/

.testimonial-photo img {
    width: 85%;
    padding-top: 7%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    z-index: 2;
}

.testimonial-quote {
    padding: 0% 7% 0% 7%;
    font-style: italic;
}

.testimonials {
    position: relative;
}
 
.feature {
     position: relative;
     text-align: center;
     opacity: 1;
 }

/******* CALL TO ACTION IN BODY *******/

.button-container {
    position: relative;
    width: 100%;
    min-height: 100px;
    clear: both;
}


.call-to-action-button-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 20%;
    max-width: 75%;
    min-height: 50px;
    min-width: 150px;
    margin: auto;
    width: 400px;
    font-size: 2rem;
    font-weight: 700;
    background-color: rgb(47, 159, 163);
    padding: 1% 2% 1% 2%;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

/*******  CONTACT FORM  ********/

.contact-form-background {
    background-image: url(../assets/images/black_texture.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 85%;
    margin: auto;
    font-weight: 700;
}

.contact-form-head {
    text-align: center;
}

input[type=text], input[type=email]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(47, 159, 163);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
}

label[for=message] {
    display: block;
    padding-bottom: 8px;
}



/******* FOOTER ********/

.credit {
    text-align: left;
    font-size: 70%;
    padding-left: 10px;
    
}

.copyright {
    text-align: left;
    font-size: 70%;
    padding-left: 10px;
    
}

/* Medium and small screens (640px) */
@media (min-width: 640px) {
    html { font-size: 120%; }
    
    .hero-content {
        min-height: 350px;
    }  
    
    .full-width-map {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .map {
        height: auto;
    }
    
    iframe {
        height: 425px;
    }
    
    .testimonial-photo img {
        width: 100%;
    }
    
    .testimonial-quote {
        padding: 0% 0% 0% 0%;
    }
    
    /** HIDES UBER ON NON-MOBILE VIEWPORTS **/
    .uber-button {
        display: none;
    }
    
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .button-container {
        min-height: 150px;
    }
    
    .call-to-action-button-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 20%;
    max-width: 75%;
    min-height: 75px;
    min-width: 150px;
    font-size: 2rem;
    font-weight: 700;
    background-color: rgb(47, 159, 163);
    padding: 1% 2% 1% 2%;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    }
    
    .contact-form {
        width: 75%;
    }
    
    .credit {
        float: left;
    }
    
    .copyright {
        float: right;
        text-align: right;
        padding-right: 10px;
    
    }
    
    
    
    /** USED WITH ONLOAD.JS FOR HANDLEWINDOWSIZE FUNCTION **/
    .column.full { width: 100%; }
    .column-two-thirds { width:66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
    
/*Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 170%; 
    }
    
    .hero-content {
        min-height: 550px;
    }
    
    .call-to-action-button {
        bottom: -200px;
        width: 700px;
    }
       
     .julia {
        height: 85%;
    }
    
    iframe {
        height: 425px;
    }
    
    
    .feature {
        text-align: left;
    }
    
    .call-to-action-button-2 {
        max-height: 15%;
        max-width: 75%;
        min-height: 100px;
        min-width: 600px;
    }
      
    .clearfix::before,
    .clearfix::after {
       content: " ";
       display: table;
    }

    .clearfix::after {
       clear: both;
    }
} 